.object-detail[data-v-3c523098]{padding:20px 0}.related-files[data-v-3c523098]{margin-top:30px}.related-files h4[data-v-3c523098]{margin-bottom:16px;color:#303133}.dialog-footer[data-v-3c523098]{text-align:right}
